@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
    height: auto;
    width: auto;
    vertical-align: middle;
}

h1, h2 {
    color: #4C4E61;
    margin: 0.25%;
}

h1 {
    font-weight:600;
}

h2{
    font-size:medium;
    margin-top: 5%;
}

p{
    color: #A3A5AE;
}

img{
    display: flex;
    margin-left: auto;
}

#Header{
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5%;
    padding-top: 2%;
}

#subtitle{
    font-weight: 200;
}

#Container{
    width: 80%;
    display: flex;
    margin: auto;
}

#desc{
    font-size: 15px;
}

#blue{
    border-top-color: #45D3D3;
}

#red{
    border-top-color: #EA5353;
}

#yellow{
    border-top-color: #FCAF4A;
}

#darkBlue{
    border-top-color: #549EF2;
}

.Information{
    display: inline-block;
    flex:1;
    width: 80%;
    height: 40%;
    vertical-align: auto;
    padding: 5%;
    margin:5%;
    border-radius: 6px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-top: 3px solid; /* Blue top border */
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.centerContainer{
    display: inline-block;
    padding: 0.4%;
    flex: 1;
    
}

.miniContainer{
    display: flex;
    padding: 0.25%;
    height: auto;
    align-items: center;
    flex:1;
}

.itemDescriptions{
    font-size: 10px;
    width: 75%;
}

